<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{siteHeading}" />
    <link rel="stylesheet" href="./assets/styles/flyyta.light.css" />
    <link rel="stylesheet" href="./assets/styles/main.css" />
    <title>{siteName}</title>
</head>

<body>
    <div class="flyyta">
        <header>
            <h1>{siteHeading}</h1>
            <a href="./about.html">About</a>
            <p>—</p>
            <p>
                This Blog is created using {siteAuthorName} which is a static site
                generator to develop blazing fast websites.
            </p>
            <hr />
        </header>

        <div class="posts">
            <h3><a href="./{path}">
                    <!-- TITLE -->
                </a></h3>
            <small>
                <!-- PUBLISH_DATE -->
            </small>
            <p>
                <!-- DESCRIPTION -->
            </p>
            <!-- CONTENT -->
        </div>

        <footer>
            <p>
                © 2021 {siteAuthorName}, Find the documentation on
                <a href="{siteAuthorWebsite}">Flyyta</a>
            </p>
        </footer>
    </div>
</body>

</html>